{% load static %}
<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Page 13">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/offer-discount-sales-shop-e-icon-227991-128x128.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Удалить товары?</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/popup-overlay-plugin/style.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  {% include 'menu.html' %}

<section data-bs-version="5.1" class="content15 cid-tEQeECFfXv" id="content15-17">

    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-md-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mbr-white mb-3 display-5"><strong>Вы уверены в удалении ВСЕХ неизвестных товаров?</strong></h4>
                        <p class="mbr-text mbr-fonts-style display-7">Товары будет не возможно восстановить и удаление сохранится в истории изменений<br><strong><em>Вы можете просто закрыть страницу</em></strong> без удаления товара</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form cid-tEQf7j37kk" id="formbuilder-19">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="w0hSdazDrkTQd8qIwdVBBgYKhA0PIRXRgCxld35u4v9lbE7TciHy5qXL37AsRLYtBEcidAGEjHyOH7vUSi5Qrxw+Uq3PGaQttLBERAS8CfknbkhPxDPZOE5iTyForrkB.cm3AuI+VWy6CIa9aMzCd+HATIQOxMX5AjNABOJrC8Mss7PmSGA2XbjJRqBH6+faYFKhMN3y7+uXdxCuOJo27eRKONG8m5IC7l0Q2Fr0H/74BwP5sQJf4BWyT1UCagRyc">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!</div>
</div>
<div class="dragArea row">
<div class="col-lg-12 col-md-12 col-sm-12"><button type="submit" class="w-100 btn btn-warning display-7"><a href="/unknows/_1/del" >Удалить товар</a></button></div>
</div>
</form><!--Formbuilder Form-->
</div>
        </div>
    </div>
</section><section><a href="https://mobiri.se"></a><a href="https://mobiri.se"></a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  <script src="assets/formoid.min.js"></script>  
  
  
</body>
</html>